/** main style entry point **/

// cov and other @arcgis/core sass variables
@import "@vernonia/core/css/variables";

// esri widgets to include
$include_Attribution: true;
$include_BasemapToggle: true;
$include_LayerList: true;
$include_Legend: true;
$include_Popup: true;
$include_ScaleBar: true;
$include_Search: true;

// @arcgis/core font paths for vite to resolve
$icomoon-font-path: "./../node_modules/@arcgis/core/assets/esri/themes/base/icons/fonts/";
$calcite-fonts-path: "./../node_modules/@arcgis/core/assets/esri/themes/base/fonts/fonts/";

// @arcgis/core sass
@import "./../node_modules/@arcgis/core/assets/esri/themes/base/core";

// application
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@import "@vernonia/core/css/cov.scss";

.esri-legend {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--calcite-ui-background);
  // disable weird focusing with legend inside calcite-tab
  * {
    pointer-events: none;
  }

  * {
    font-size: var(--calcite-font-size--2);
    font-weight: 100;
  }

  .esri-legend__service {
    padding: 6px 7.5px;
  }

  .esri-legend__layer-table {
    margin-bottom: 4px;
  }

  .esri-legend__layer-cell--symbols {
    padding: 0;
  }

  .esri-legend__symbol {
    svg {
      transform: scale(75%);
    }
  }

  .esri-widget__heading {
    margin-bottom: 0.25rem;
  }
}
